body {
    background: #34495e;

}
.weather-container {
    max-width: 1410px;;
    margin: 0 auto;
    background-color: #3D414C
}

.inner-container {
    padding: 0 15px 15px 15px;
    height: 100%;
    min-height: 650px;
}